* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------------CSS navbar */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  width: 100%;
  height: 60%;
  background-color: #fff;
  position: relative;
}

.navbar {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  padding: 18px 100px;
  align-items: center;
}

.logo img {
  margin-left: 10px;
}

.menu ul li {
  display: inline;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  line-height: 80px;
  align-items: baseline;
  justify-content: space-evenly;
}
.menu {
  display: flex;
}
/* ---------------------CSS main */
main {
  padding: 0 100px;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.container {
  display: flex;
}

.image img {
  /*max-width: 155%;
  
    height: 155%;*/
  width: 100%;
}
.image {
  /*max-width: 155%;
  
    height: 155%;*/
  width: 70%;
}

/*.image{
    width: 50%;
}*/

.text {
  font-size: 12px;
  text-align: start;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.small_images {
  width: 114px;
  margin-right: 7px;
  margin-top: 7px;
}

/* ----------------------------CSS bloc2 */
.bloc_2_img {
  width: 32%;
  margin-bottom: 20px;
  
}

.bloc_2 {
  font-size: 12px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.best_work {
  margin: 2%;
  font-size: 20px;
  padding-left: 71px;
}

.we_do{
  font-size: 20px;
  padding-left: 99px;
  margin-bottom: 15px;
  margin-top: 22px;
}

.contact{
  font-size: 20px;
  padding-left: 99px;
  margin-bottom: 15px;
  margin-top: 22px;
}

.the_blog{
  font-size: 20px;
  padding-left: 99px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.bloc_2_all_images {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.info_items{
    display: flex;
    justify-content: space-between;
}

/*h3{
    font-size: 22px;
    padding-left: 71px;
    margin: 4%;
}*/

.galery{
  padding-right: 0px;
}

p{
    font-size: 16px;
    padding: 0 100px;
}

a{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

/*.Latest_Blog{
  margin: 2%;
}*/

.img{
  margin-bottom: 20px;
}

/*.blog2_img{
  width: 60%;
  padding: 0 100px;
}*/

.post{
  display: flex;
}

.info_blog {
  text-align: justify;
  display: inline-block;
}

